In [4]:


import pandas as pd
 
# Create a dataframe
df = pd.read_csv("train.csv")
display(df)

,state,account_length,area_code,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,churn
0,OH,107,area_code_415,no,yes,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.70,1,no
1,NJ,137,area_code_415,no,no,0,243.4,114,41.38,121.2,110,10.30,162.6,104,7.32,12.2,5,3.29,0,no
2,OH,84,area_code_408,yes,no,0,299.4,71,50.90,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,no
3,OK,75,area_code_415,yes,no,0,166.7,113,28.34,148.3,122,12.61,186.9,121,8.41,10.1,3,2.73,3,no
4,MA,121,area_code_510,no,yes,24,218.2,88,37.09,348.5,108,29.62,212.6,118,9.57,7.5,7,2.03,3,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4245,MT,83,area_code_415,no,no,0,188.3,70,32.01,243.8,88,20.72,213.7,79,9.62,10.3,6,2.78,0,no
4246,WV,73,area_code_408,no,no,0,177.9,89,30.24,131.2,82,11.15,186.2,89,8.38,11.5,6,3.11,3,no
4247,NC,75,area_code_408,no,no,0,170.7,101,29.02,193.1,126,16.41,129.1,104,5.81,6.9,7,1.86,1,no
4248,HI,50,area_code_408,no,yes,40,235.7,127,40.07,223.0,126,18.96,297.5,116,13.39,9.9,5,2.67,2,no
4249,VT,86,area_code_415,no,yes,34,129.4,102,22.00,267.1,104,22.70,154.8,100,6.97,9.3,16,2.51,0,no

In [ ]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pprint import pprint
raw_data = pd.read_csv('train.csv')
pretty_df = raw_data.head(10).to_string(index=False)

# Print the pretty string

# Continue with your code
raw_data = np.array(raw_data)
#np data
raw_data= np.array(raw_data)

split = 0.8

train_set = raw_data[:int(split*len(raw_data))]
validation_set = raw_data[int(split*len(raw_data)):]

X_train = train_set[:,:-1]
y_train = train_set[:,-1]
X_validation = validation_set[:,:-1]
y_validation = validation_set[:,-1]


def one_hot(X):
    for i in X[:]:
        if isinstance(i,str):
            print(i)
             
one_hot(X_train)
X_train=one_hot(X_train)
print (X_train[0:10])

KeyboardInterrupt: